<div class="col-md-12">
    <label for="anexo" class="form-label fw-bold">Anexo do Problema (Opcional)</label>
    <div class="dropzone dz-clickable" id="kt_dropzonejs_example_1">
        <div class="dz-message needsclick">
            <i class="ki-duotone ki-file-up fs-3x text-primary"><span class="path1"></span><span class="path2"></span></i>
            <div class="ms-4">
                <h3 class="fs-5 fw-bold text-gray-900 mb-1">Arraste os arquivos aqui ou clique para enviar.</h3>
                <span class="fs-7 fw-semibold text-gray-500">Envie até 10 arquivos</span>
            </div>
        </div>
    </div>
</div>