<div class="col-md-4">
    <label for="tipo" class="form-label fw-bold" data-bs-toggle="tooltip" title="Selecione o tipo de problema ou solicitação.">
        <i class="fas fa-info-circle"></i> Tipo de Problema/Solicitação
    </label>
    <select class="form-select form-select-solid shadow-none" data-control="select2" data-placeholder="Selecione uma opção" data-allow-clear="true" id="tipo" name="tipo" onchange="updateSubtypes()" required>
        <option></option>
        <option value="Dashboard">Dashboard</option>
        <option value="Painel">Painel</option>
        <option value="Análise Geral ">Análise Geral</option>
        <option value="Analise Cliente Tarefa">Análise Cliente/Tarefa</option>
        <option value="Calendario">Calendário</option>
        <option value="TODO">TO-DO</option>
        <option value="Cadastros">Cadastros</option>
        <option value="Processos">Processos</option>
        <option value="PDCA">PDCA</option>
        <option value="Anomalias">Anomalias</option>
        <option value="legalizacoes">Legalizações</option>
        <option value="fiscalizacao">Fiscalização</option>
        <option value="recuperacoes">Recuperações</option>
        <option value="Tabelas">Tabelas</option>
    </select>
</div>